<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table>
            <thead>
                <tr>
                    <td>
                        <h1>
                            MD Senior Care LLc.
                        </h1>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        Thank you for your time and trust.
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        <p>
                            This is a conformation email directed to our customer: <%= customer_name %>
                        </p>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <p>
                            We understand how important <%= ward_name %> is to you.
                            They will be our top priority.
                            At this point, our supportive crew will reach out to you for further arrangements.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</body>
</html>